.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 650px;

  background-image: url(../../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  & .text {
    width: 380px;
    margin-bottom: 20px;

    color: white;
    text-align: center;
  }
}
