$error-color: #cb3d40;

@mixin font-normal {
  font-family: "Nunito Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.container {
  position: relative;

  color: rgba(0, 0, 0, 0.87);

  & .label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    padding: 0px 2px;

    @include font-normal;
    color: #7e7e7e;
    background-color: white;

    pointer-events: none;
    transition: all 150ms linear;

    &.isFocus {
      top: 0px;

      font-size: 12px;
      line-height: 14px;
    }

    &.isError {
      color: $error-color;
    }
  }

  & .input {
    padding: 14px 16px;
    width: 100%;

    border: 1px solid #d0cfcf;
    border-radius: 4px;
    outline: none;

    @include font-normal;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &.isError {
      border-color: $error-color;
      border-width: 2px;
    }
  }

  & .message {
    position: absolute;
    bottom: -4px;
    left: 16px;

    transform: translateY(100%);

    font-family: "Nunito Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7e7e7e;

    &.isError {
      color: $error-color;
    }
  }
}
